<link rel="stylesheet" href="~/css/StyleForInsriptionCarService.css" asp-append-version="true" />

<div class="text-center two">
    <h1>
        Car Service
        <span>best service</span>
    </h1>
</div>